body{
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 130px;
    max-width: 950px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

:focus {
    outline: 0;
}


:focus {
    outline: 0;
}
.header {
    width: 950px;
    background: #fff;
    margin: 140px 0 30px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);

}

.header h1 {
    position: absolute;
    top: -180px;
    width: 97%;
    font-size: 120px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

ul {
    margin: 5px;
    padding: 5px;
}

.main {
    width: 952px;
    height: 83px;
    padding: 10px;
    z-index: 5;
    border: dotted;
    background: rgba(192, 207, 226, 0.85);
    border-radius:10px;
    position: relative;
    opacity: 0.9;
}

.title {
    margin: 0px;
    padding: 0px;

    font-weight: 900;
    color: #ef6e39;
    text-align: center;
    font-size: 70px;
}

.control-block {
    display: block;
    justify-content: center;
}

.control-block input {
    width:800px;
    height: 55px;
    float: outside;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-indent: 20px;
    background: rgb(255, 249, 255);
    border-radius: 25px 25px 25px 25px;
    border: 0px;
}

.control-block button {
    width: 30px;
    height: 30px;

    position:absolute;

    right:35px;
    z-index:2;

    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.control-block svg {
    width: 16px;
    height: 16px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -8px 0 0 -8px;
}

.control-block svg .fill {
    fill: #16181b;
}
#todo-input{
    margin-top: -5.5%;
    margin-left: 46px;
    position: absolute;
}

#todo-roster {
    justify-content: center;
    width: 650px;
    left: 10px;
    list-style: none;

}

.todo-item {
    left: 140px;
    border: 1px solid black;
    padding: 10px;
    margin: 6px;
    display: flex;
    justify-content: center;
    -webkit-justify-content: space-between;
    color: black;
    position: relative;
    padding-left: 70px;

    cursor: pointer;
    flex-direction: row;
    box-shadow:
            5px 5px 3px rgba(0,0,0,0) inset,
            0 3px 3px 3px rgba(0,0,55,.2),
            0 3px 3px 3px rgba(0,0,55,.2);

}

.line {
    text-decoration: line-through;
}
.btn-group-lg{
    margin-bottom: 10px;
    margin-left: 35%;
    flex-direction: row;
    justify-content: center;
}

.button {
    height: 35px;
    border: #ff0c18;
    background-color: #8db1b8;
    border-radius: 5px;
    color: #000000;
    font-size: 25px;
    outline: none;
    -webkit-box-shadow: inset 10px 10px 10px #c1c1c1;
    -moz-box-shadow: inset 1px 1px 1px #4f0201;
    box-shadow: inset 1px 1px 1px #c1c1c1;
}
.button:hover {
    cursor: pointer;
    box-shadow:
            0 0 3px rgba(0,0,0,0) inset,
            0 1px 1px 1px rgba(0,0,55,.2),
            0 -1px 1px 1px rgba(0,0,55,.2);
}
.container {

    -webkit-justify-content: space-between;
    display: contents;
    position: relative;
    padding-left: 0px;
    margin-bottom:  0px;

    font-size: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container label:after {
    content:'';
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;

    height: 25px;
    width: 25px;
    background-color: #fff9ff;
}

.container:hover input ~ .checkmark {
    background-color: #ffffff;
}
.container input:checked ~ .checkmark {
    background-color: #989899;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.out{
    background-color: #b3d7ff;
    width: 915px;
    margin: 35px auto;
    padding: 0px;
    top: 0;
    left: 0;
    z-index: 5;
    border: dotted;
    border-radius:10px;
    position: relative;
}
.todo-item-value{
    overflow: hidden;
    word-wrap: break-word;
}
.todo-item-checkbox{
    margin: -61px
}

.pagination {
    display: contents;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer;
    height: 35px;
    border: #ff0c18;
    background-color: #8db1b8;
    border-radius: 5px;
    color: #000000;
    font-size: 25px;
    outline: none;
    -webkit-box-shadow: inset 10px 10px 10px #c1c1c1;
    -moz-box-shadow: inset 1px 1px 1px #4f0201;
    box-shadow: inset 1px 1px 1px #c1c1c1;
}

.button-select{
    color: red;
}

.select-tab{
    border: 2px solid #ff0c18;
    /* background-color: transparent;*/
    padding: 5px 30px;
    border-radius: 15px;
}
#edit{
    width: 95%;
    text-decoration-line: none;
}
#edit.todo-item{
    text-decoration-line: none;
}
